<head>
    <link href='css/user_page.css' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
</head>
<body>
    <nav class="navigate">
        <a class="nav-link" href="/exit">Моя страница</a><br><br>
        <a class="nav-link" href="/exit">Друзья</a><br><br>
        <a class="nav-link" href="/exit">Сообщения</a><br><br>
        <a class="nav-link" href="/exit">Настройки</a><br><br>
        <a class="nav-link" href="/exit">Выход</a><br><br>
    </nav>
    <div class="mainBlock">
        <section class="userInfo">
            <img class="main-photo" src="image/img.png">
            <div class="info">
                <label class="value name">Курбанов Артур</label>
                <br>
                <br>
                <label class="status">Волк не тот кто волк , а тот кто волк!</label>
            </div>
        </section>

        <section class="ribbon">

        </section>
    </div>

</body>
